<h1 class="text-center bg-primary">This Is Tongoona Mujera's First rails Application</h1>
<p class="text-center bg-primary">I have built the website using Ruby On Rails, Bootstrap, Sqlite3 db and Ruby Programming language</p>